<!DOCTYPE html>​

<html>

<head>​
    <title>Festival da Canção 2023</title>
    <meta name="viewport" content="width = device-width, initial-scale =1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>​
</head>​


<body class= "bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 col-md-4"> </div>
            <div class="col-10 col-md-4">
                 <br>
                <img src="../images/logo.png" width="100%" alt="não carregou a imagem" />
            </div>
        </div>
    </div>
    <br>
    <center>
        {{{body}}}
    </center>
</body>

</html>​

</html>