<!DOCTYPE html>
<html>
    <head></head>
    <body></body>
    <div class="list-group col-4">
        <a href="/votacaoRankingNota" class="list-group-item list-group-item-action list-group-item-secondary">Visualizar Maior Nota</a>
        <a href="/votacaoRankingVoto" class="list-group-item list-group-item-action list-group-item-secondary">Visualizar Mais Votados</a>
    </div>
</html>