<!DOCTYPE html>
<html>

<head> </head>

<body>
    <script> function recuperarSenha() { 
            window.location.href = "recuperarSenha/" + document.getElementById("campoLogin").value
        }
    </script>
    <script> function cadastrar() { 
            window.location.href = "/usuarioCreate"
        }
    </script>

    <form action="/login" method="post" class="col-auto">
        <div class="input-group input-group-sm col-2">
            <input type="text" class="form-control" placeholder="Matrícula" id="campoLogin" name="login">
        </div>
        <br>
        <div class="input-group input-group-sm col-2">
            <input type="password" class="form-control" placeholder="Senha" id="campoSenha" name="senha">
        </div>
        <div class="form-group"></div>
            <button type="submit" class="btn btn-secondary">Acessar</button> 
            <button onclick=cadastrar() class="btn btn-secondary">Cadastrar</button>
            <button onclick=recuperarSenha() class="btn btn-secondary">Recupear Senha</button>
        </div>
    </form>
</body>

</html>