<!DOCTYPE html>
<html>

<head> </head>

<body>
    <form action="/login" method="post" class="col-auto">
        <div class="input-group input-group-sm col-2">
            <input type="text" class="form-control" required placeholder="Matrícula/Login" id="campoLogin" name="login">
        </div>
        <br>
        <div class="input-group input-group-sm col-2">
            <input type="password" class="form-control" required placeholder="Senha" id="campoSenha" name="senha">
        </div>
        <div class="form-group"></div>
            <button type="submit" class="btn btn-secondary">Logar</button> 
        </div>
    </form>
    <script> 
        function cadastrar() { 
            window.location.href = "/usuarioCreate"
        }
    </script>
    <br>
    <button onclick=cadastrar() class="btn btn-secondary">Cadastrar</button>
    <script> 
        function recuperarSenha() { 
            if(document.getElementById("campoLogin").value.length == 0){
                alert("Campo 'Matrícula' é obrigatório!");
                document.getElementById("campoLogin").focus();
            }
            else{
                window.location.href = "/recuperarSenha/" + document.getElementById("campoLogin").value;
            }
        }
    </script>
    <button onclick=recuperarSenha() class="btn btn-secondary">Recuperar Senha</button>
</body>

</html>