<div class="form-group col-3">
    <label for="campoLogin">Senha Atual</label>
</div>
<div class="alert alert-success col-3" role="alert">{{senha}}</div>
<a href="/" class="list-group-item list-group-item-action list-group-item-secondary col-1">Voltar</a>