<h1> Cadastrar Usuário </h1>
<form class="bg-dark text-white" action="/usuarioCreate" method="post">
    <div class="input-group input-group-sm col-2">
        <input type="text" class="form-control bg-dark text-white" placeholder="Nome" id="campoNome" name="nome">
    </div>
    <br>
    <div class="input-group input-group-sm col-2">
        <input type="text" class="form-control bg-dark text-white" placeholder="Matrícula" id="campoLogin" name="login">
    </div>
    <br>
    <div class="input-group input-group-sm col-2">
        <input type="password" class="form-control bg-dark text-white" placeholder="Senha" id="campoSenha" name="senha">
    </div>
    <br>
    <div class="input-group input-group-sm col-2">
        <input type="text" class="form-control bg-dark text-white" placeholder="Pergunta Secreta" id="campoPergunta" name="pergunta_secreta">
    </div>
    <br>
    <div class="input-group input-group-sm col-2">
        <input type="text" class="form-control bg-dark text-white" placeholder="Resposta Secreta" id="campoResposta" name="resposta_pergunta">
    </div>
    <br>
    <input type="submit" class="btn btn-secondary" value="Cadastrar">
</form>