<h1> Cadastrar Usuário </h1>
<form class="bg-dark text-white" action="/usuarioCreate" method="post">
    <div class="input-group input-group-sm col-2">
        <input type="text" class="form-control bg-dark text-white" placeholder="Nome" id="campoNome" name="nome">
    </div>
    <br>
    <div class="input-group input-group-sm col-2">
        <input type="text" class="form-control bg-dark text-white" placeholder="Matrícula/Login" id="campoLogin" name="login">
    </div>
    <br>
    <div class="input-group input-group-sm col-2">
        <input type="password" class="form-control bg-dark text-white" placeholder="Senha" id="campoSenha" name="senha">
    </div>
    <br>
    <div class="input-group input-group-sm col-2">
        <input type="text" class="form-control bg-dark text-white" placeholder="Pergunta Secreta" id="campoPergunta" name="pergunta_secreta">
    </div>
    <br>
    <div class="input-group input-group-sm col-2">
        <input type="text" class="form-control bg-dark text-white" placeholder="Resposta Secreta" id="campoResposta" name="resposta_pergunta">
    </div>
    <br>
    <div class="input-group mb-3 col-2">
        <select class="custom-select bg-dark text-white" id="campoTipo" name="tipo">
            <option value="2">Candidato</option>
            <option value="1" selected>Ouvinte/Votante</option>
        </select>
    </div>
    <input type="submit" class="btn btn-secondary" value="Cadastrar">
    <br><br>
</form>