<h2>Lista de Votos</h2>
<div class="table-responsive"></div>
    <table class="table table-sm bg-dark text-white text-start col-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Evento {{isAdministrador}}</th>
                <th scope="col">Apresentação</th>
                <th scope="col">Nota</th>
            </tr>
        </thead>
        <tbody>
        {{#each votacao}}
        <tr>
            <th scope="row">{{descricao_evento}}</th>
            <td>{{descricao_apresentacao}}</td>
            <td>{{nota}}</td>
        {{/each}}
        </tbody>
    </table>
    <br>
    <br>
</div>
