<h1> Cadastrar Receita </h1>
<form action="/receitaCreate" method="post" enctype="multipart/form-data">
        <div class="form-group">
                <label for="campoNome">Nome</label>
                <input type="text" class="form-control" id="campoNome" name="nome">
        </div>
        <div class="form-group">
                <label for="campoIngredientes">Ingredientes</label>
                <input type="text" class="form-control" id="campoIngredientes" name="ingredientes">
        </div>
        <div class="form-group">
                <label for="campoPreparo">Preparo</label>
                <input type="text" class="form-control" id="campoPreparo" name="preparo">
        </div>
        <div class="form-group">
                <label for="campoImagem">Imagem</label>
                <input type="file" class="form-control" id="campoImagem" name="imagem">
        </div>
        <button type="submit" class="btn btn-dark">Cadastrar</button>
</form>
